.appcontainer{
    width: auto;
    background-color: black;
    color: white;
    padding: 8px;
}
.appcontainer h1{
    width: auto;
    color: white;
    text-align: center;
    padding: .5em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: xx-large;
    font-weight: 100;
}

.heroNav{
    width: auto;
    display: flex;
    flex-direction: row;
    margin: .5em;
}

.heroNav a{
    width: 100%;
    text-align: center;
    padding: .5em;
    margin: .1em;
    color: black;
    background-color: white;
}
