<div class="editing" *ngIf="heroi">
  <h2>EDITANDO DETALHES</h2>
  <h3 class="heroname">{{heroi.nome | uppercase}}</h3>
  <div class="form">
    <label for="id">Id:</label><br>
    <input class="field" id="id" [(ngModel)]="heroi.id" disabled="true"><br>
    <label for="nome">Nome do(a) herói(na)</label><br>
    <input class="field" id="nome" [(ngModel)]="heroi.nome" placeholder="nome"><br>
    <label for="ataque">Poder de ataque do(a) herói(na)</label><br>
    <input class="field" type="number" id="ataque" [(ngModel)]="heroi.ataque" placeholder="ataque" min="0" max="100"><br>
    <label for="defesa">Poder de defesa do(a) herói(na)</label><br>
    <input class="field" type="number" id="defesa" [(ngModel)]="heroi.defesa" placeholder="defesa" min="0" max="100"><br>
    <button class="buttons" type="button" (click)="goBack()">Voltar</button>
  </div>
</div>