.poderosos h2{
    font-size: larger;
    font-weight: 600;
}
.poderosos p{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 100;
}
ul {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
}
.listaPoderosos{
    list-style-type: none;
    overflow: hidden;
}
.listLink{
    display: block;
    text-decoration: none;
    background-color: white;
    color: black;
    padding: 5px;
    margin: 1px;
    width: 100%;
}
.listLink span{
    background-color: black;
    padding: 4px;
    color:white;
}
.h{
    background-color: white;
    text-decoration: none;
    color: black;
    font-weight: 600;
    padding:3px;
}
.desc{
    line-height: 1.5em;
}